*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: 0px;
    margin: 0px;
    list-style: none;
    line-height: 0.9;
}

ul{
    margin: 0px;
    padding: 0px;
    
}

.row{
    width: 100;
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border{
    width: 100%;
}

h3{
    text-align: center;
}

p{
    font-weight: 500;
    line-height: 1.5;
}

button{
    color: #ffffff;
    background-color: #dd292c;
    font-weight: bold;
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

img:hover{
    cursor: pointer;
}

/* Efeito fade-in */
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .fadeIn {
        -webkit-animation: fadeIn 2s ease-in-out;
        -moz-animation: fadeIn 2s ease-in-out;
        -o-animation: fadeIn 2s ease-in-out;
        animation: fadeIn 2s ease-in-out;
        }

    .block{
        visibility: visible;
    }
        
    .none{
        visibility: hidden;
    }
    
/*Todo Conteúdo */
#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Large devices (desktops, 900 px and up) */
@media (min-width: 900px) {

    /* topo */
    #top{
        margin: 0px 250px 0px 250px;
        padding: 5px  5px ;
        align-items: center;
        justify-content: space-between;
        height: 125px;

    }

    #top p{
        margin-left: 15px;
    }

    #top button{
        text-align: center;
        width: 115px;
        height: 28px;
        font-size: 15px;
        font-weight: bold;
    }

    a:link, a:visited{
        color: #dd292c;
    }

    #logo-1 img{
        height: 100px;
        width: 170px;
    }

    /* banner */
    #banner-cont{
        position: relative;
        -webkit-animation: mymove; /* Safari 4.0 - 8.0 */
        animation: mymove 1s;
        animation-timing-function: linear;
        padding: 50px 0px 0px 0px;
        margin: 0px 0px 0px 400px;
        width: 300px;
        color: #ffffff;
    }
    @keyframes mymove {
        from {right: -800px;}
        to {right: 0px;}
    }

    #banner{
        justify-content: flex-start;
        background-image: url("../../assets/img/banner.jpg");
        height: 300px;
        background-size: cover;
        background-position: center; 
    }

    #banner p{
        margin-top: 15px;
        width: 270px;
    }

    #banner button{
        font-size: 12px;
        font-weight: bold;
        background-color: #242424;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        margin-top: 10px;
    }


    /* Passos */
    #passos{
        background-color:#ffffff;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #passos h3{
        margin-bottom: 0px;
    }

    .row ul{
        width: 100%;
        box-sizing: none;
    }

    #passos-aling{
        padding: 0px;
        width: 700px;
        justify-content: center;
        align-items: center;
    }

    #passo-margin ul{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .passos-img img{
        height: 150px !important;
        width: 120px !important; 
    } 

    .passos-itens{
        padding: 0px 100px 0px 50px;
        width: 130px;
        height: 200px;;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Vantagens */
    #vantagens{
        background-color:#f0f0f0 ;
        height: 270px;
    }

    #vantagens-itens{   
        padding: 0px;
    }

    #vatagens-alingn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #vantagens li{
        padding-left: 12px;
        width: 150px;
    }

    #vantagens li:hover{    
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
         transform: scale(1.3);
         -webkit-transition: 0.5s ease-in;
         -moz-transition: 0.5s ease-in;
         -o-transition: 0.5s ease-in;
         transition: 0.5s ease-in;
    }

    #vantagens p{
        font-size: 13px;
    }

    #vantagens h4{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .padding-page img{
        width: 60px;
        height: 60px;
    }

    .padding-page h3{
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .padding-page li{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* Cadastro */
    #cadastro{
        background-color: #242424;
        height: 280px;
        color: #ffffff;
        align-items: center;
        justify-content: center;
    }

    #cadastro h3{
        margin: 0px;
    }

    #cadastro p{
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 5px;
    }   

    .padding-page input{
        margin: 5px;
    }

    #cadastro input{
        height: 25px;
    }

    #cadastro button{
        margin-top: 10px;
        height: 25px;
        width: 100px;
        font-size: 14px;
        font-weight: bold;
    }

    #cadastro select{
        width: 250px;
        height: 28px;
        margin-right: 5px;
    }

    #person-type{
        justify-content: center;
        align-items: center;
        padding-left: 5px;

    }

    #cadastro-input{    
        justify-content: center;
        align-items: center;
    }

    form input:nth-child(1){
        width: 250px;
    }

    form input:nth-child(2){
        width: 250px;
    }

    #email{
        width: 510px;
    }

    #name-full {
        width: 510px;
    }

    /* Rodapé */
    footer{
        height: 150px;
        align-items: center;
        justify-content: center;
    }

    #footer{
        width: 800px;
        padding: 0px;
        justify-content: space-around;
        align-items: center;
    }

    #footer img{
        width: 100px;
    }

    #footer p {
        width: 250px;
        font-size: 9px;
    }

    #footer button{
        font-size: 13px;
        height: 25px;
        margin-left: 200px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 899px) {

    /* Topo  */
    #top{
        margin: 0px 100px 0px 100px;
        padding: 5px  5px ;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        
    }
    
    #top p{
        font-size: 15px;
        margin-left: 15px;
    }
    
    #top button{
        text-align: center;
        width: 90px;
        height: 25px;
        font-size: 11px;
        font-weight: bold;
    }
    
    a:link, a:visited{
        color: #dd292c;
    }
    
    #logo-1 img{
        height: 70px;
        width: 120px;
    }

    /* Banner */
    #banner{
        justify-content: flex-start;
        background-image: url("../../assets/img/banner.jpg");
        height: 300px;
        background-size: cover;
        background-position: center; 
    }
    
    #banner p{
        width: 270px;
    }
    
    #banner button{
        background-color: #242424;
        width: 110px;
        height: 30px;
        border-radius: 5px;
        margin-top: 10px;
    }
    
    #banner-cont{
        padding: 50px 0px 0px 0px;
        margin: 0px 0px 0px 200px;
        width: 300px;
        color: #ffffff;
    }

    /* Passos */
    #passos{
        background-color:#ffffff;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #passos h3{
        margin-bottom: 0px;
    }
    
    .row ul{
        width: 100%;
        box-sizing: none;
    }
    
    #passos-aling{
        padding: 0px;
        width: 700px;
        justify-content: center;
        align-items: center;
    }
    
    #passo-margin ul{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #passo-margin li:nth-child(3){
        padding-right: 0px;
    }

    #passo-margin li:nth-child(1){
        padding-left: 0px;
    }
    
    .passos-img img{
        height: 150px !important;
        width: 120px !important; 
    } 
    
    .passos-itens{
        padding: 0px 70px 0px 50px;
        width: 130px;
        height: 200px;;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Vantagens */
    #vantagens{
        background-color:#f0f0f0 ;
        height: 400px;
    }
    
    #vantagens-itens{
        padding: 0px;
    }
    
    #vatagens-alingn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #vatagens-alingn ul{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;    
    }
    
    #vantagens li{
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: inherit;
        padding-left: 12px;
        width: 200px;
    }
    
    #vantagens p{
        font-size: 13px;
    }
    
    #vantagens h4{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .padding-page img{
        width: 60px;
        height: 60px;
    }
    
    .padding-page h3{
        margin-top: 35px;
        margin-bottom: 35px;
    }
    
    .padding-page li{
        padding: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    /* Cadastro */
    #cadastro{
        background-color: #242424;
        height: 300px;
        color: #ffffff;
        align-items: center;
        justify-content: center;
    }

    #cadastro h3{
        margin: 0px;
    }

    #cadastro p{
        font-size: 14px;
        margin-bottom: 15px;
    }   

    .padding-page input{
        margin: 5px;
    }

    #cadastro input{
        height: 25px;
    }

    #cadastro button{
        margin-top: 10px;
        height: 25px;
        width: 100px;
        font-size: 14px;
        font-weight: bold;
    }

    #cadastro select{
        width: 250px;
        height: 28px;
        margin-right: 5px;
    }

    #person-type{
        justify-content: center;
        align-items: center;
        padding-left: 5px;

    }

    #cadastro-input{
        justify-content: center;
        align-items: center;
    }

    form input:nth-child(1){
        width: 250px;
    }

    form input:nth-child(2){
        width: 250px;
    }

    #email{
        width: 510px;
    }

    #name-full {
        width: 510px;
    }

    /* Rodapé */
    footer{
        height: 100px;
        align-items: center;
        justify-content: center;
    }
    
    #footer{
        width: 800px;
        padding: 0px;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #footer img{
        width: 100px;
    }
    
    #footer p {
        width: 250px;
        font-size: 9px;
    }
    
    #footer button{
        font-size: 10px;
        height: 20px;
        
    }
}

/* Small devices */
@media (min-width: 320px) and (max-width: 767px){

    #principal{
        width: 100vw;
    }

    /* Topo  */
    #top{
        width: 100%;
        margin: 0px 5px 0px 0px;
        padding: 5px  5px ;
        align-items: center;
        justify-content: space-around;
        height: 250px;
        flex-direction: column;
    }

    #top-cadastro{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #top p{
        font-size: 15px;
        margin-left: 15px;
    }
    
    #top button{
        text-align: center;
        width: 100px;
        height: 30px;
        font-size: 13px;
        font-weight: bold;
    }
    
    a:link, a:visited{
        color: #dd292c;
    }
    
    #logo-1 img{
        height: 150px;
        width: 250px;
    }

    /* Banner */
    #banner{
        justify-content: flex-start;
        background-image: url("../../assets/img/banner.jpg");
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center; 
        position: relative;
    }
    
    #banner h2{
        font-size: 17px;
    }

    #banner p{
        margin-top: 10px;
        font-size: 15px;
        width: 150px;
    }
    
    #banner button{
        background-color: #242424;
        width: 110px;
        height: 30px;
        border-radius: 5px;
        margin-top: 10px;
    }
    
    #banner-cont{
        padding: 0px 0px 0px 0px;
        margin: 50px 0px 0px 50px;
        width: 250px;
        color: #ffffff;
    }

    /* Passos */
    #passos{
        background-color:#ffffff;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
    #passos h3{
        margin-bottom: 0px;
    }
    
    .row ul{
        width: 100%;
        box-sizing: none;
    }
    
    #passos-aling{
        padding: 0px;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    
    #passo-margin ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #passo-margin li:nth-child(3){
        padding-right: 0px;
    }

    #passo-margin li:nth-child(1){
        padding-left: 0px;
    }
    
    .passos-img img{
        height: 170px !important;
        width: 150px !important; 
    } 
    
    .passos-itens{
        padding: 0px 0px 50px 0px;
        width: 130px;
        height: 200px;;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Vantagens */
    #vantagens{
        background-color:#f0f0f0 ;
        height: 800px;
    }
    
    #vantagens-itens{
        padding: 0px;
    }
    
    #vatagens-alingn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #vatagens-alingn ul{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;    
    }

    #vatagens-alingn id{
        text-align: center;
    }
    
    #vantagens li{
        padding-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: inherit;
        padding-left: 12px;
        width: 200px;
    }
    
    #vantagens p{
        font-size: 13px;
    }
    
    #vantagens h4{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #vantagens img{
        padding-right: 30px;
    }
    
    .padding-page img{
        width: 60px;
        height: 60px;
    }
    
    .padding-page h3{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    
    .padding-page li{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    /* Cadastro */
    #cadastro{
        width: 100vw;
        background-color: #242424;
        height: 400px;
        color: #ffffff;
        align-items: center;
        justify-content: center;
    }

    #cadastro-input h3{
        margin-bottom: 20px !important;
        width: 250px;
        margin: 0px;
    }

    #cadastro-input p{
        width: 280px;
        font-size: 15px;
        margin-bottom: 15px;
    }   

    .padding-page input{
        margin: 5px;
    }

    #cadastro input{
        height: 25px;
    }

    #cadastro button{
        margin-top: 10px;
        height: 25px;
        width: 100px;
        font-size: 14px;
        font-weight: bold;
    }

    #cadastro select{
        width: 100px;;
        height: 28px;
        margin-right: 5px;
    }

    #person-type{
        justify-content: center;
        align-items: center;
        padding-left: 5px;

    }

    #contato{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    form input:nth-child(1){
        width: 200px;;
    }

    form input:nth-child(2){
        width: 190px;
    }

    #tel, #cel{
        width: 300px;
    }

    #email{
        width: 300px;
    }

    #name-full {
        width: 300px;
    }

    /* Rodapé */
    footer{
        height: 200px;
        align-items: center;
        justify-content: center;
    }
    
    #footer{
        width: 100%;
        padding: 0px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #footer img{
        width: 150px;
        height: 80px;
    }
    
    #footer p {
        margin-bottom: 20px;
        width: 250px;
        font-size: 8px;
    }
    
    #footer button{
        font-size: 13px;
        width: 250px;
        height: 30px;
    }
}